div {
    margin: 30px
}
.header {
    height: 150px;
    background-color: pink;
    border: 1px solid red
}
.navbar {
    height: 400px;
    background-color: goldenrod;
    border: 1px solid brown
}
.content {
    height: 600px;
    background-color: skyblue;
    border: 1px solid blue
}
.footer {
    height: 250px;
    background-color: lightgreen;
    border: 1px solid green
}
@media only screen and (min-width: 800px) {
    .body > div {
        margin: 0
    }
    .navbar {
        width: 20%;
        height: 500px;
        display: inline-block;
    }
    .content {
        width: 80%;
        height: 500px;
        display: inline-block;
    }
}